h1 {
    color: #E6E6FA;
    font-weight: 300;
    text-align: center;
  }
h2{
    color: #E6E6FA;
    font-weight: 100;
    text-align: center;
}

/* Year */
#openingyear{
    background-color: #E6E6FA;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    box-sizing: border-box;
    padding: 16px 23px;
    border-radius: 1px;
    margin-top: 20px;
    text-align: center;


}


/* Boston */
.button-1 {
  background-color: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #000000;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:active {
  outline: 0;
}

.button-1:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-1:before {
  background-color: #90EE90;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-1:hover:before {
  background-color: #228B22;
}

/* Chicago */
.button-2 {
  background-color: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:hover,
.button-2:active {
  outline: 0;
}

.button-2:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-2:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-2:hover:before {
  background-color: #6DCFF6;
}

/* New York */
.button-3 {
  background-color: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-3:hover,
.button-3:active {
  outline: 0;
}

.button-3:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-3:before {
  background-color: #FF8C00;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-3:hover:before {
  background-color: #FF7F50;
}

/* Washington DC */
.button-4 {
  background-color: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-4:hover,
.button-4:active {
  outline: 0;
}

.button-4:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-4:before {
  background-color: #FFE4E1;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-4:hover:before {
  background-color: #FFB6C1;
}